@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.main {
    font-family: "NotoSans", sans-serif;
}

.main__title {
    font-size: 20px;
    margin-bottom: 30px;
}


.main__text {
    margin-bottom: 30px;
} 